@import "../../styles/partials/global";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.btn {
  @include btn;
  @include margin-block;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
   
  @media (min-width: $tablet-width) {
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 9.375rem;
    }
  
  &__icon {
    justify-self: flex-start;
    left: 0.25rem;
    margin-right: 0;
    padding-left: 0.25rem;
    padding-right: 0;
    position: absolute;
  }
  
  &__text {
    justify-self: center;
    padding-left: 0;
    margin-left: 0;
    color: $White;
    font-size: 0.625rem;
    line-height: 1.25rem; 
    font-weight: 700;

    @media (min-width: $tablet-width) {
      font-size: 0.75rem;
      line-height: 1.25rem;
      font-weight: 700;
    }






  }
}
