@import "../../styles/partials/global";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.btn {
  @include btn;
  // @include margin-inline;
  @include margin-block;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
   
  @media (min-width: $tablet-width) {
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    // justify-content: space-between;
    width: 140px;
    }
  
  &__icon {
    justify-self: flex-start;
    left: 0.25rem;
    margin-right: 0;
    padding-left: 0.25rem;
    padding-right: 0;
    position: absolute;
  }
  
  &__text {
    justify-self: center;
    padding-left: 0;
    margin-left: 0;
  }
}
