@import "../../styles/partials/global";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.btn {
  @include btn;
  @include margin-inline;
  @include margin-block;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  &__icon {
    justify-self: flex-start;
    padding-left: 0.25rem;
    padding-right: 0;
    margin-right: 0;
    position: absolute;
    left: 0.25rem;
  }
  
  &__text {
    // text-align: center;
    justify-self: center;
    padding-left: 0;
    margin-left: 0;
    // width: 80%;
    // flex-grow: 1;
  }
}
