@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
  &__video-container {
    background: $BrainFlix-DarkBlack;
    width: 100%;
    position: relative;
    padding-top: calc(100% / (16 / 9));
    max-width: $desktop-width;
    margin: 0 auto;
    max-height: 720px;
  }
    
    &__video {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      margin: 0 auto;
      display: block;
  }
}
