@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
  &__video-container {
    background: $BrainFlix-DarkBlack;
    margin: 0 auto;
    max-height: 45rem;
    max-width: $desktop-width;
    padding-top: calc(100% / (16 / 9));
    position: relative;
    width: 100%;
  }
  
  &__video {
    display: block;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
