@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero__video-container {
  width: 100%;
  border: 2px solid blue;
  margin: 0 auto;
  max-width: $desktop-width;
  background: #000;;
  // display: flex;
  // justify-content: center;
}

.hero__video {
  border: 5px solid blue;
  margin: 0 auto;
  width: 70%;
  display: block;
}

video::-webkit-media-controls-panel {
  background-color: $BrainFlix-Black; /* Change to desired color */
  opacity: 0.2; /* Change to desired opacity (0 to 1) */
}
