@use "./variables" as *;

// Page Header for h1: 
@mixin page-header (
  $font-size-mobile: 1.5rem,
  $font-weight-mobile: 700,
  $line-height-mobile: 2rem,
  $font-size-tablet: 2.0625rem,
  $font-weight-tablet: 700,
  $line-height-tablet: 2.75rem
) {
  
  @media (max-width: $mobile-width) {
    font-size: $font-size-mobile;
    font-weight: $font-weight-mobile;
    line-height: $line-height-mobile;
  }
  
  @media (min-width: $tablet-width) {
    font-size: $font-size-tablet;
    font-weight: $font-weight-tablet;
    line-height: $line-height-tablet;
  }
}


// // Section Header for h2: 
@mixin section-header ( //
  $font-size-mobile: 0.75rem,
  $font-weight-mobile: 700,
  $line-height-mobile: 1.25rem,
  $font-size-tablet: 0.75rem,
  $font-weight-tablet: 700,
  $line-height-tablet: 1.25rem
) {

  @media (max-width: $mobile-width) {
    font-size: $font-size-mobile;
    font-weight: $font-weight-mobile;
    line-height: $line-height-mobile;
  }
  
  @media (min-width: $tablet-width) {
    font-size: $font-size-tablet;
    font-weight: $font-weight-tablet;
    line-height: $line-height-tablet;
  }
}

// // Subheader for h3: 
@mixin sub-header (
  $font-size-mobile: 0.8125rem,
  $font-weight-mobile: 700,
  $line-height-mobile: 1.125rem,
  $font-size-tablet: 0.875rem,
  $font-weight-tablet: 700,
  $line-height-tablet: 1.375rem
) {

  @media (max-width: $mobile-width) {
    font-size: $font-size-mobile;
    font-weight: $font-weight-mobile;
    line-height: $line-height-mobile;
  }
  
  @media (min-width: $tablet-width) {
    font-size: $font-size-tablet;
    font-weight: $font-weight-tablet;
    line-height: $line-height-tablet;
  }
}

// Body copy/ p tags
@mixin body-copy(
  $font-size-mobile: 0.8125rem,
  $font-weight-mobile: 400,
  $line-height-mobile: 1.125rem, 
  $font-size-tablet: 0.875rem,
  $font-weight-tablet: 400,
  $line-height-tablet: 1.375rem
) {

  @media (max-width: $mobile-width) {
    font-size: $font-size-mobile;
    font-weight: $font-weight-mobile;
    line-height: $line-height-mobile;
  }

  @media (min-width: $tablet-width) {
    font-size: $font-size-tablet;
    font-weight: $font-weight-tablet;
    line-height: $line-height-tablet;
  }
}

@mixin btn(
  $font-size-mobile: 0.625rem,
  $line-height-mobile: 1.25rem, 
  $font-weight-mobile: 700,
  $font-size-tablet: 0.75rem,
  $line-height-tablet: 1.25rem, 
  $font-weight-tablet: 700
  ) {

  background: $BrainFlixBlue;
  border: none;
  border-radius: 0.25rem;
  color: $White;
  font-size: $font-size-mobile;
  font-weight: $font-weight-mobile;
  height: 2.5rem;
  line-height: 2.5rem;
  outline: none;
  width: 100%;
  

  @media (min-width: $tablet-width) {
    min-width: 9.375rem;
  }
  
  &:hover,
  &:active {
    background: $BrainFlix-DarkBlue;
    color: $White;
  }
  
  &:active {
    scale: 0.98;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

// margin-block (margin top & margin-bottom)
@mixin margin-block(
  $margin-bottom-mobile: 1rem,
  $margin-top-mobile: 1rem,
  $margin-bottom-tablet: 1.5rem,
  $margin-top-tablet: 1.5rem,
  $margin-bottom-desktop: 2rem,
  $margin-top-desktop: 2rem
) {

  @media (max-width: $mobile-width) {
    margin-bottom: $margin-bottom-mobile;
    margin-top: $margin-top-mobile;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: $margin-bottom-tablet;
    margin-top: $margin-top-tablet;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: $margin-bottom-desktop;
    margin-top: $margin-top-desktop;
  }
}

@mixin margin-inline(
  $margin-left-mobile: 1rem,
  $margin-right-mobile: 1rem,
  $margin-left-tablet: 1.5rem,
  $margin-right-tablet: 1.5rem,
  $margin-left-desktop: 2rem,
  $margin-right-desktop: 2rem
) {

  @media (max-width: $mobile-width) {
    margin-left: $margin-left-mobile;
    margin-right: $margin-right-mobile;
  }

  @media (min-width: $tablet-width) {
    margin-left: $margin-left-tablet;
    margin-right: $margin-right-tablet;
  }
  @media (min-width: $desktop-width) {
    margin-left: $margin-left-desktop;
    margin-right: $margin-right-desktop;
  }
}


// Paddings:

// For h1
@mixin padding-before-headlines($padding-left-mobile: 1.5rem, $padding-left-tablet: 2.25rem) {

  @media (max-width: $mobile-width) {
    padding-left: $padding-left-mobile;
  }

  @media (min-width: $tablet-width) {
    padding-left: $padding-left-tablet;
  }
}

@mixin padding-after-headlines($padding-right-mobile: 1rem, $padding-right-tablet: 1.5rem) {
  
  @media (max-width: $mobile-width) {
    padding-right: $padding-right-mobile;
  }
  
  @media (min-width: $tablet-width) {
    padding-right: $padding-right-tablet;
  }
}

// padding-inline (
  @mixin padding-inline(
    $padding-left-mobile: 1rem, 
    $padding-right-mobile: 1rem, 
    $padding-left-tablet: 1.5rem, 
    $padding-right-tablet: 1.5rem, 
    $padding-left-desktop: 2rem, 
    $padding-right-desktop: 2rem) {
    
    @media (max-width: $mobile-width) {
      padding-left: $padding-left-mobile;
      padding-right: $padding-right-mobile;
    }

    @media (min-width: $tablet-width) {
      padding-left: $padding-left-tablet;
      padding-right: $padding-left-tablet;
    }

    @media (min-width: $desktop-width) {
      padding-left: $padding-left-desktop;
      padding-right: $padding-left-desktop;
    }
  }

  // Padding block
  @mixin padding-block(
  $padding-bottom-mobile: 1rem,
  $padding-top-mobile: 1rem,
  $padding-bottom-tablet: 1.5rem,
  $padding-top-tablet: 1.5rem,
  $padding-bottom-desktop: 2rem,
  $padding-top-desktop: 2rem
) {

  @media (max-width: $mobile-width) {
    padding-bottom: $padding-bottom-mobile;
    padding-top: $padding-top-mobile;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: $padding-bottom-tablet;
    padding-top: $padding-top-tablet;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: $padding-bottom-desktop;
    padding-top: $padding-top-desktop;
  }
}

// Gap Mixin (padding between elements in style guide)
@mixin gap($gap-mobile: 1rem, $gap-tablet: 1.5rem) {
  
  @media (max-width: $mobile-width) {
    gap: $gap-mobile;
  }

  @media (min-width: $tablet-width) {
    gap: $gap-tablet;
  }
}
