// Break Points: 
$mobile-width: 677px;
$tablet-width: 678px;
$desktop-width: 1280px;

// Fonts:

// Fonts - Page- Header - Mobile:
$font-size-h1-mobile: 1.5rem;
$font-line-height-h1-mobile: 2rem; 
$font-weight-h1-mobile: 700;

// // Fonts - Page- Header - Tablet & Desktop:
$font-size-h1-tablet: 2.0625rem;
$font-line-height-h1-tablet: 2.75rem;
$font-weight-h1-tablet: 700;

// // Fonts - Section-Header - Mobile:
$font-size-h2-mobile: 0.75rem;
$font-line-height-h2-mobile: 1.25rem;
$font-weight-h2-tablet: 700;

// // Fonts - Section-Header - Tablet & Desktop:
$font-size-h2-tablet: 0.75rem;
$font-line-height-h2-tablet: 1.25rem;
$font-weight-h2-tablet: 700;

// // Fonts - Subheader - Mobile:
$font-size-h3-mobile: 0.8125rem;
$font-line-height-h3-mobile: 1.125rem;
$font-weight-h3-tablet: 700;

// // Fonts - Subheader - Tablet:
$font-size-h3-tablet: 0.875rem;
$font-line-height-h3-tablet: 1.375rem;
$font-weight-h3-tablet: 700;

// // Fonts - Body Copy - Mobile:
$font-size-body-mobile: 0.8125rem;
$font-line-height-body-mobile: 1.125rem;
$font-weight-body-tablet: 400;

// // Fonts - Body Copy - Tablet:
$font-size-body-tablet: 0.875rem;
$font-line-height-body-tablet: 1.375rem;
$font-weight-body-tablet: 400;

// // Fonts - Label & Button - Mobile:
$font-size-label-button-mobile: 0.625rem;
$font-line-height-label-button-mobile: 1.25rem;
$font-weight-label-button-tablet: 700;

// // Fonts - Label & Button - Tablet:
$font-size-label-button-tablet: 0.75rem;
$font-line-height-label-button-tablet: 1.25rem;
$font-weight-label-button-tablet: 700;


// // Colors:

// // Colors - Primary:
$BrainFlix-Black: #323232; // Primary Text color
$BrainFlixBlue: #0095FF; // Primary CTA color, Active form field outline color
$Silver: #AFAFAF; // Secondary text color, text label color
$White: #fff; // Background color, CTA Text color

// // Colors - Secondary:
$BrainFlix-DarkBlack: #000; // Video Player components
$BrainFlix-DarkBlue: #0065AD; //CTA hover Stae color
$Mercury: #E1E1E1; //Divider line, form field outline color (non-active, non-error state?)
$Alabaster: #FAFAFA; // Form field background color
$Invalid: #D22D2D;

// $hero-image-overlay-color: rgba(50, 50, 50, 0.5);
// $mercury-opacity-zero: rgba(225, 225, 225, 0);
