@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
  border: 5px solid green!important;

  @media (min-width:$desktop-width) {
    position: relative;
  }
}

// Comment

.comment {
  border: 2px solid green;
  width: 100%;
  display: flex;
}

.comment__name {
  border: 2px solid blue;
  display: flex;
  width: 100%; 
}

.comment__text {
  width: 100%;
  border: 2px solid green;
}


.comment__date {
  border: 2px solid red;
  margin-left: auto;
}

// Next Videos
.next-videos {
  border: 2px solid red;

  @media (min-width: $desktop-width){
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
  }
}

.video__list {
  border: 2px solid blue;
}


// Video
.video {
  display: flex;
}

.video__text {
  border: 2px solid red;
}

.video__thumbnail {
  width: 150px;
  height: 80px;
}