@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
  border: 5px solid green!important;
  // color: green;
  min-height: 100vh;
}

//HeroDetails

.hero__details {
  border: 5px dotted #000;
}
.hero__stats {
  border: 2px solid red;
  display: flex;
  // flex-direction: column;
}

.hero__views {
  display: flex;
  border: 2px solid blue;
}

.hero__likes {
  display: flex;
  border: 2px solid green;
}

// HeroForm
.hero__new-comment {
  border: 2px solid blue;
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
}

.comment-input__container {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  width: 1000px;

}

.avatar {
  border: 5px solid purple;
  order: 0;
}