@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
  border: 5px solid green!important;
  // color: green;
  height: 100vh;
}

//HeroDetails

.hero__details {
  border: 5px dotted #000;
}
.hero__stats {
  border: 2px solid red;
  display: flex;
  // flex-direction: column;
}

.hero__views {
  display: flex;
  border: 2px solid blue;
}

.hero__likes {
  display: flex;
  border: 2px solid green;
}