@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
  background: $BrainFlix-DarkBlack;
}

.hero__inner {
  max-width: $desktop-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-inline: 1rem;
  }
  @media (min-width: $desktop-width) {
    padding-inline: 7em;
  }
}
