@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


// Next Videos
.next-videos {
  border: 2px solid blue;
  @include margin-block;
  @include margin-inline;

  @media (min-width: $desktop-width){
    width: 50%;
  }
}

.next-videos__heading {
  color: $Silver;
}

// .video__list {
//   border: 2px solid blue;
// }

