@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.next-videos {
  @include margin-block(
    $margin-top-mobile: 0
  );
  @include margin-inline(
    $margin-right-desktop: 6rem
  );
  padding-left: 1rem;
  
  @media (min-width: $desktop-width){
    width: 35%;
  }
}

.next-videos__heading {
  @include margin-block;
  color: $Silver;
}

