@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-details {
  max-width: $desktop-width;
  width: 100%;
  
  @media (min-width: $desktop-width) {
    padding-left: 5rem;
    width: 60%;
  }
}

