@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header__container {
  border: 2px solid red;
  @include padding-block(
    $padding-bottom-mobile: 0,
    $padding-bottom-tablet: 0,
    $padding-bottom-desktop: 0
  );
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  width: 100%;
  
  @media (min-width: $tablet-width) {
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    }
  }

  .avatar {
    border: 2px solid blue;
    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

.header__search {
  border-radius: 4px;
  width: 100%;
}

.header__logo {
  margin: 0 auto;  
}
