@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  &__container {
    
    @include padding-block(
      $padding-bottom-mobile: 0,
      $padding-bottom-tablet: 0,
      $padding-bottom-desktop: 0
    );
    
    @include padding-inline;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    
    @media (min-width: $tablet-width) {
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 6rem;
      justify-content: center;
      padding-top: 0;
      width: 100%;
      }

      .btn {
        @include margin-block(
          $margin-top-mobile: 0
        );
        @include margin-inline;
      }
    }
  
  &__logo {
    margin: 0 auto;  
    display: block;
    
    @media (min-width: $tablet-width) {
      margin: 0;  
    }
    @media (min-width: $desktop-width) {
      margin-left: 8rem;  
    }
  }
}

.header__container .avatar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  
  @media (min-width: $tablet-width) {
    order: 1;
  }
  
  @media (min-width: $desktop-width) {
    margin-right: 8rem;
  }
}

.search {
  border-radius: 4px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}
