@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  &__container {
    max-width: $desktop-width;
    margin: 0 auto;
    
    @include padding-block(
      $padding-bottom-mobile: 0,
      $padding-bottom-tablet: 0,
      $padding-bottom-desktop: 0,
      $padding-top-desktop: 0
    );
    @include padding-inline;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
    @media (min-width: $tablet-width) {
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      padding-top: 0;
      width: 100%;
      max-height: 88px;
    }

      .btn {
        @include margin-block(
          $margin-top-mobile: 0,
          $margin-bottom-tablet: 1.5rem,
          $margin-top-tablet: 1.5rem,
          $margin-bottom-desktop: 1.5rem,
          $margin-top-desktop: 1.5rem,
        );

        @media (min-width: $tablet-width) {
          @include margin-inline;
        }
      }
    }
  
  &__link {
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      margin: 0 auto 0 0;  
    }

    @media (min-width: $desktop-width) {
      margin-left: 5rem;  
      display: block;
    }
  }
}

.header__container .avatar {
  margin-bottom: 1rem;
  margin-top: 1rem;
  
  @media (min-width: $tablet-width) {
    order: 1;
  }
  
  @media (min-width: $desktop-width) {
    margin-top: 1rem;
    margin-right: 5rem;
  }
}
