@use "../../styles/partials/variables" as *;

.loading {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  
  &__ball {
    animation: bounce 0.7s infinite;
    background-color: $BrainFlixBlue; 
    border-radius: 50%;
    height: 3.125rem;
    width: 3.125rem;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3.75rem);
    }
  }

  &__text {
    font-size: 1.5rem;
    color: $BrainFlix-Black;
    margin-top: 1.25rem;
  }
}


