@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.upload {
  border-top: 2px solid $Mercury;
  margin: 0 auto 1rem;
  max-width: $desktop-width;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  padding-inline: 1rem;
  
  @media (min-width: $tablet-width) {
    padding-inline: 1.5rem;
  }
  
  @media (min-width: $desktop-width) {
    padding-inline: 7rem;
  }

  &__heading {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
      
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $Mercury;
      margin-bottom: 1.5rem;
      padding: 1.5rem;
    }
    
    @media (min-width: $desktop-width) {
      // padding: 2rem;
      padding: 2rem 0;
    }
  }
  
  &__sub-heading {
    color: $Silver;
    font-weight: bold;
  }
}


.upload {

  &__content-container {

    @media (min-width: $desktop-width) {
      display: flex;
      @include gap;
    }
  }

  &__image-container {
    border-radius: 4px;
    height: calc(100% / (16 / 9));
    object-fit: cover;
    width: 100%;
    margin-bottom: 1.5rem;
    
    @media (min-width: $tablet-width) {
      width: 50%;
      height: calc(50% / (16 / 9));
      margin-bottom: 1.5rem,
    }

    @media (min-width: $desktop-width) {
      height: 100%;
      margin-bottom: 2rem;
      width: calc(50% / (9 / 16));
    }
  }

  &__image {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    margin-top: 0.25rem;
  } 
}

.upload {  
  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  &__title-label {
    color: $Silver;
    font-weight: bold;
  }
  
  &__title-input {
    background: $Alabaster;
    border: 2px solid $Mercury;
    border-radius: 0.25rem;
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    min-height: 2.5rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;
    padding-top: 1rem;
    resize: none;
    width: 100%;
    
    @media (min-width: $tablet-width){
      margin-bottom: 1.5rem;
      padding-bottom: 0;
      padding-top: 0.5rem;
    }
    
    @media (min-width: $desktop-width){
      margin-bottom: 2rem;
    }
  
    &:focus {
      border: 2px solid $BrainFlixBlue;
      outline: none;
    }
    
    &:invalid {
      border: 0.0625rem solid $Invalid;
      outline: none;
    }
  }
  
  &__description-label {
  color: $Silver;
  font-weight: bold;
  }

  &__description-input {
    background: $Alabaster;
    border: 2px solid $Mercury;
    border-radius: 0.25rem;
    flex-grow: 1;
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    height: 10rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;
    padding-top: 1rem;
    resize: none;
    width: 100%;
    
    @media (min-width: $tablet-width){
      margin-bottom: 1.5rem;
      padding-bottom: 0;
      padding-top: 0.5rem;
    }
  
    @media (min-width: $desktop-width){
      flex-grow: 1;
      padding-top: 0.5rem;
      margin-bottom: 0;
      min-height: 11.8rem;
    }
    
    &:focus {
      border: 2px solid $BrainFlixBlue;
      outline: none;
    }
    
    &:invalid {
      border: 0.0625rem solid $Invalid;
      outline: none;
    }
  }
}



.upload__button-container {
  @media (min-width: $tablet-width) {
    @include gap;
    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-width: $desktop-width) {
    @include gap;
    border-top: 2px solid $Mercury;
    display: flex;
    flex-direction: row-reverse;
  }
}

