@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video {
  display: flex;
  
  &__text {
    border: 2px solid red;
  }
  
  &__thumbnail {
    width: 150px;
    height: 80px;
  }
}