@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video {
  @include margin-block;
  display: flex;
  min-height: 100px;
  max-width: 550px;
  
  &__thumbnail {
    flex: 0 0 100%;
    border-radius: 4px;
    max-width: 35%;
    min-height: 100%;
    margin-right: 1rem;
    max-height: 100px;
    object-fit: cover;
    object-position: center center;
    background: $Mercury;

    @media (min-width: $tablet-width) {
      height: 100px;
    }
  }
  
  &__title {
    @include sub-header($font-size-mobile: 1.2rem, $line-height-mobile: 1.5, $font-size-tablet: 1.5rem, $line-height-tablet: 1.5);
  }

  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}