@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.search {
  height: 40px;
  border: 2px solid green;
  display: inline-block;
  @include margin-block;
}