@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
  &__details {
  @include padding-block;
  @include padding-inline;
  }
  
  &__heading {
    @include padding-block(
      $padding-bottom-tablet: 0,
      $padding-bottom-desktop: 0
      );
      border-bottom: 0.0625rem solid $Mercury;
      font-size: 2rem;
      line-height: 1.5;
      
      @media (min-width: $tablet-width) {
        border-bottom: none;
      }
    }
    
    &__stats {
      border-bottom: 0.0625rem solid $Mercury;
      display: flex;
      justify-content: space-between;
    }
    
    &__header {
      @include padding-block;
      @include padding-inline;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      @media (min-width: $tablet-width) {
        flex-direction: row;
        @include gap;
      }
    }
    
    &__header-channel {
      display: -webkit-box; 
      font-weight: 700;
      line-clamp: 1; 
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical; 
      -webkit-line-clamp: 1; 
  }
  
  &__header-date {
    color: silver;
  }
  
  &__numbers {
    width: 50%;

    @media (min-width: $tablet-width) {
      display: flex;
      width: auto;
    }
  }
  
  &__icon {
    margin-right: 1rem;
  }

  &__views, 
  &__likes {
    display: flex;
    @include padding-block;
    @include padding-inline;
    color: silver;
  }
  
  &__description {
    @include padding-inline;
    @include padding-block;
    line-height: 1.8;
  }

  &__comment-count {
    @include padding-inline;
    @include padding-block(
      $padding-bottom-mobile: 0,
      $padding-bottom-tablet: 0, 
      $padding-bottom-desktop: 0
    );
    font-weight: bold;
  }
}
