@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment {
  @include padding-block(
    $padding-top-tablet: 0,
    $padding-top-desktop: 0
  );
  @include padding-inline(
    $padding-left-desktop: 0
  );
  border-bottom: 0.125rem solid $Mercury;
  display: flex;
  width: 100%;

  &__name {
    @include margin-block(
      $margin-top-mobile: 
    0);
    display: flex;
    font-weight: 600;
    width: 100%; 
  }
  
  &__text {
    line-height: 1.75;
    width: 100%;
  }
  
  &__date {
    color: $Silver;
    margin-left: auto;
    font-weight: normal;
  }

  .avatar {
    @include margin-block(
      $margin-top-mobile: 0.25rem,
      $margin-top-tablet: 1.875rem
    );
    margin-right: 1rem;
  }
}
