@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment {
  @include padding-block;
  @include padding-inline;
  border-bottom: 2px solid $Silver;
  display: flex;
  width: 100%;

  &__name {
    @include margin-block($margin-top-mobile: 0);
    display: flex;
    font-weight: 600;
    width: 100%; 
  }
  
  &__text {
    line-height: 1.75;
    width: 100%;
    // border: 2px solid green;
  }
  
  &__date {
    // border: 2px solid red;
    color: $Silver;
    margin-left: auto;
  }

  .avatar {
    // border: 2px solid red;
    @include margin-block($margin-top-mobile: 0.25rem);
    // @include margin-inline;
    margin-right: 1rem;
  }
}
