@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.avatar {
  border-radius: 50%;
  height: 2.5rem;
  min-width: 2.5rem;
  width: 2.5rem;
}
