@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.App {
  margin: 0 auto;
  max-width: $desktop-width;
  min-height: 100vh;
  width: 100%;
}
