@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.app {
  margin: 0 auto;
  width: 100%;
  
  &inner-container {
    max-width: $desktop-width;
  }
}
