@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {

  &__new-comment {
    @include padding-block(
      $padding-bottom-tablet: 24px,
      $padding-top-tablet: 24px,
      $padding-bottom-desktop: 24px,
      $padding-top-desktop: 24px,
    );
    @include margin-inline;
    border-bottom: 1px solid $Mercury;
    display: flex;
    
    .avatar {
      order: 0;
      @include margin-block(
        $margin-top-mobile: 2.25rem,
        $margin-top-desktop: 1.5rem
      );
      @media (min-width: $tablet-width) {
        margin-left: 1.5rem;
      }
      @media (min-width: $desktop-width) {
        margin-left: 0;
      }
    }
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 100%;
    
    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .btn {
        margin-bottom: 24px;
        margin-top: 24px;
        width: 100%;

        @media (min-width: $tablet-width) {
          width: 150px;
        }
      }
    }
  }
  
  &__form-inner {
    margin-right: 2rem;
    width: 100%;
  }

  &__comment-label {
    color: $Silver;
  }
  
  &__comment-input {
    @include margin-block(
      $margin-top-tablet: 0.25rem,
      $margin-top-desktop: 0.25rem,
    ); 
    @include padding-block(
      $padding-bottom-tablet: 0,
      $padding-top-tablet: 0.5rem, 
      $padding-bottom-desktop: 0,
      $padding-top-desktop: 0.5rem
    );
    @include padding-inline;
    background: $Alabaster;
    border: 1px solid $Mercury;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1rem;
    min-height: 10rem;
    resize: none;
    width: 100%;
    
    @media (min-width: $tablet-width){
      height: 40px;
      min-height: 40px;
    }
  
    &:focus {
      border: 1px solid $BrainFlixBlue;
      outline: none;
    }
    
    &:invalid {
      border: 1px solid $Invalid;
      outline: none;
    }
  }
}

.hero__form .btn {
  margin-bottom: 24px;
  margin-top: 24px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 150px;
  }
}